# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
env/
# Node
node_modules/
# VSCode/IDE
.vscode/
.idea/
.DS_Store
uploads/
*.sqlite3
*.db
*.log
# pytest
.pytest_cache/
